* {
	border: none;
	border-radius: 0px;
    	font-family: "JetbrainsMono Nerd Font" ;
	font-size: 13px;
}

window#waybar {
	background: transparent;
	min-height: 30px;
	background: #161320;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
}

.modules-right {
}

.modules-left {
}

.modules-center {
}

#workspaces button {
	transition: none;
	color: #B5E8E0;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
}

#workspaces button.active {
	color: #C74770;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
}

#workspaces {
	margin-bottom: 0px;
	margin-left: 6px;
}

#workspaces button {
	color: #f8f8f2;
	
}

#battery {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #161320;
	background: #B5E8E0;
}

#battery.charging, #battery.plugged {
	color: #161320;
    	background-color: #B5E8E0;
}

#battery.critical:not(.charging) {
    	background-color: #B5E8E0;
    	color: #161320;
    	animation-name: blink;
    	animation-duration: 0.5s;
    	animation-timing-function: linear;
    	animation-iteration-count: infinite;
    	animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#custom-date {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #f8f8f2;
}

#network {
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #f8f8f2;
}

#clock {
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #f8f8f2;
}

#memory, #cpu, #temperature {
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #f8f8f2;
}
